
doctype html
//if lt IE 7
//if IE 7
//if IE 8
//if gt IE 8
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title KGL Credit Sales Report
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
// Navigation section
nav
  ul
    li
      a(href='/dashboard') Dashboard
    li
      a(href='/creditsales') Credit Form
    li
      a(href='/cashsales') Cash Sales Form
    //- li
    //-   a(href='/procurement') Admin
    //- li
    //-   a(href='/cashsalesreports') Reports
// Reporting table
.dash-container
  .row 
    .col-md-6 
      .card-body 
        p 
          h5 Total Revenue
        p  
          h5 #{total.totalIncome} Ugx 
    .col-md-6 
      .card-body 
        p 
          h5 Total Tonnage Sold
        p  
          h5 #{total.totalTonnage} Tons 
  table.table.table-sm
    thead
      tr
        th(scope='col') Buyer
        th(scope='col') NIN
        th(scope='col') Location
        th(scope='col') Contact
        th(scope='col') Amount Due
        th(scope='col') Due Date
        th(scope='col') Product  
        th(scope='col') Product Type
        th(scope='col') Tonnage 
        th(scope='col') Dispatch Date 
        th(scope='col') Agent
        th(scope='col') Action
        th(scope='col') Action
    tbody 
        if creditsales.length 
        each creditsale in creditsales 
            tr 
                td #{creditsale.inputbuyername}
                td #{creditsale.inputnin}
                td #{creditsale.inputlocation}
                td #{creditsale.inputbuyercontact}
                td #{creditsale.inputamountdue}
                td #{creditsale.inputduedate}
                td #{creditsale.inputprodname}
                td #{creditsale.inputprodtype}
                td #{creditsale.inputtonnage}
                td #{creditsale.inputdispatchdate}
                td #{creditsale.inputsalsagentname}
                
                
                td 
                  a(href='/updatecreditsale/'+creditsale._id)
                  button.btn.btn-primary Update
                td 
                  form(method='get' action='/deletecreditsale/'+creditsale._id)
                    console.log(#{cashsale._id})
                    input(type="hidden" name="delete" value=creditsale._id)
                    button.btn.btn-danger(type="submit" ) Delete 
                      //- i.bi.bi-trash(style="color:white;")
                  
script(src='' async='' defer='')
