
doctype html
//if lt IE 7
//if IE 7
//if IE 8
//if gt IE 8
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title KGL Procurement Report
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
// Navigation section
nav
  ul
    li
      a(href='/dashboard') Dashboard
    li
      a(href='/creditsales') Credit Form
    li
      a(href='/cashsales') Cash Sales Form
    li
      a(href='/procurement') Procurements Form
    //- li
    //-   a(href='') Reports
// Reporting table
.dash-container
  .row 
    .col-md-4 
      .card-body 
        p 
          h5 Total Expenditures
        p  
          h5 #{total.totalCost} Ugx 
    .col-md-4 
      .card-body 
        p 
          h5 Total Tonnage Procured
        p  
          h5 #{total.totalProcuredTonnage} Kgs 
    .col-md-4 
      .card-body 
        p 
          h5 Current Stock
        p  
          h5 #{currentStock} Kgs

  table.table.table-sm
    thead
      tr
        th(scope='col') Product Name
        th(scope='col') Product Type
        th(scope='col') Procurement Date
        th(scope='col') Procurement Time
        th(scope='col') Product Cost
        th(scope='col') Tonnage Procured
        th(scope='col') Dealers Name
        th(scope='col') Dealers Contact
        th(scope='col') Branch Name
        th(scope='col') Branch Contact
        th(scope='col') Item Sale
        th(scope='col') Action
        th(scope='col') Action
    tbody 
        if procurements.length 
        each procurement in procurements 
            tr 
                td #{procurement.inputprodname}
                td #{procurement.inputprodtype}
                td #{procurement.inputprocdate}
                td #{procurement.inputproctime}
                td #{procurement.inputprodcost}
                td #{procurement.inputtonnage}
                td #{procurement.inputdealername}
                td #{procurement.inputdealercontact}
                td #{procurement.inputbranchname}
                td #{procurement.inputbranchcontact}
                td #{procurement.inputsaleprice}
                td 
                  a.btn.btn-primary(href='/updateprocurement/'+procurement._id) Update
                  
                td 
                  form(method='get' action='/deleteprocurement/'+procurement._id)
                    console.log(#{procurement._id})
                    input(type="hidden" name="delete" value=procurement._id)
                    button.btn.btn-danger(type="submit") Delete 
                      //- i.bi.bi-trash(style="color:white;")
                  
                  
script(src='' async='' defer='')
